body{
    background-color: #2A2F4F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
/* #main{ }*/
.top{
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.next{
    width: 50%;
    height: 100%;
    /* flex-grow: 2; */
}
.dropdown{
   color: white;
   border-radius: 10px;
   width: 90px;
   height: 50px;
}
#dropdown-content{
    display: none;
}
.dropdown-content-click {
  display: block;
}
.boxes{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.boxes>div{
    width: 100px;
    height: 100px;
    background-color: #576CBC;
    margin-right: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    opacity: 0.9;
}
.x-symbol {
    position: relative;
  }
  .x-symbol::after {
    position: absolute;
    content: "X";
    font-size: 35px;
    font-family: "Comfortaa";
    color: #F7D060;
  }
  .o-symbol {
    position: relative;
  }
  .o-symbol::after {
    content: "O";
    font-size: 35px;
    font-family: "Comfortaa";
    color: #05BFDB;
  }
.bottom{
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: white; */
}
.bottom>div{
  width: 100px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.player-1{
    background-color: #05BFDB;
}
.ties{
    background-color: #F0F0F0;
}
.player-2{
    background-color: #F7D060;
}
p{
    margin-top: 8px;
    margin-bottom: 2px ;
}
h6{
    margin: 5px;
    font-weight: normal;
}
footer{
    margin-top: 100px;
    color: white;
}